@model IEnumerable<TestProject.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script>

@using TestProject.Models

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title mt-0 mb-3">Categories</h4>
            <div class="table-responsive">
                <div> <a href="/Blogs/Create" class="badge badge-md badge-soft-purple newUser">Add New Category</a></div>
                <table class="table table table-responsive-sm" id="myTable">

                    <thead class="thead-light">
                        <tr>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Blogs</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var tmp in Model)
                        {
                        <tr>
                            <td>@tmp.categoryname</td>
                            <td>@tmp.description</td>
                            <td>@tmp.Blogs</td>




                            <td>
                                <a href="~/Categories/Details/@tmp.categoryID" class="mr-2"><i class="fas fa-eye font-16 "></i></a>
                                <a href="~/Categories/Edit/@tmp.categoryID" class="mr-2"><i class="fas fa-edit text-info font-16 "></i></a>
                                <a href="~/Categories/Delete/@tmp.categoryID" class="fas fa-trash-alt text-danger font-16  "></a>
                            </td>




                        </tr>
                        }




                    </tbody>
                </table>
            </div>
        </div><!--end card-body-->
    </div><!--end card-->
</div><!--end col-->
